project/Main.spec
project/build/Main/Analysis-00.toc
project/build/Main/base_library.zip
project/build/Main/EXE-00.toc
project/build/Main/PKG-00.toc
project/build/Main/PYZ-00.pyz
project/build/Main/PYZ-00.toc
project/build/Main/warn-Main.txt
project/build/Main/xref-Main.html
project/build/Main/localpycs/pyimod01_archive.pyc
project/build/Main/localpycs/pyimod02_importers.pyc
project/build/Main/localpycs/pyimod03_ctypes.pyc
project/build/Main/localpycs/pyimod04_pywin32.pyc
project/build/Main/localpycs/struct.pyc
project/dist/Main.exe
project/model/__pycache__/AppDB.cpython-312.pyc
project/build/Main/Main.pkg
.env